AddDefaultCharset UTF-8

Options +FollowSymLinks
Options -Indexes

RewriteEngine on
RewriteBase /

ErrorDocument 403 /public/index.php
ErrorDocument 404 /public/index.php
 
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.*)$ /index.php/$1 [L]